@charset "UTF-8";
body,div,ul,li,p,img, h1, h2, h3 {margin:0; padding:0; display:block;}
img {max-width:100%;}
a {color:#900;}
body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #555;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #333;
	line-height: 1.4em;
}

.project-overview #container {
	width: 90%; 
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left;
}

.project-overview #header {
	background: #3b0102 url(../images/header-bkg.png) repeat-x; 
	padding: 0 0px;  
}

.project-overview h1 {
	font-weight: normal;
	padding:30px 0;
	line-height: 1.3em;
}

.project-overview h2 {
	margin:20px 0 10px 0;
	padding-bottom: .2em;
	border-bottom: 2px solid #900;
	font-weight:normal;
}

.project-overview h3 {
	ont-weight: normal;
	padding:1.6em 0 0 0; 
}
.project-overview #mainContent {
	margin-bottom: 30px;
	padding: 0 0 0 20px; 
	background: #FFFFFF;
}
.project-overview #footer {
	padding: 0 2%; 
	background:#eee;
	font-size: .8em;
}
.project-overview #footer p {
	margin: 0; 
	padding: 10px 0;
}

#overview-menu {
	width: 18%;
	min-width: 120px;
	float:left;
	clear:right;
}

#overview-menu ul {}

#overview-menu li {
	background: #E7E7E7;
	margin: 2px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	
#overview-menu li:hover {
	background:#ccc;
	}

#overview-menu li a {
	display:block;
	padding:5px 4%; 
	text-decoration:none;
}


#project-content {
	width: 72%;
	margin-left: 22%;	
	clear:right;

	}
#project-content p {
	margin-bottom: 1em;
}
a img.forkme {
	float: right;
	padding-left: 1%; 
	border: 0;
}


#screenshots { margin: 2em 0; overflow:auto; height: 200px;}

#screenshots img {
	xwidth: 150px;
	xheight: 150px;
	float:left;
	margin:.4em 1%;
	border: 1px solid #555;
	}



@media only screen and (max-width: 580px) {

#header img { overflow:hidden;}
#overview-menu {clear:none; width:98%; margin-bottom: 20px;}
.project-overview #mainContent {padding: 0; margin: 0 0 0 2%;}
#project-content {
	width: 98%;
	margin: 0 1%;	
}
#footer {margin-top: 20px;}





