/app/Config/database.php
/app/Config/email.php
/app/tmp
/app/webroots/docs
~/app/webroots/docs/phpdoc.xml
/app/webroot/files
/app/webroot/js/docs
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/dist
.DS_Store
*~
/tags
/.settings
